#progressText {
    -fx-font-size: 0.833333em;
    -fx-text-fill: white;
}

#progressBar .bar {
    -fx-padding: 2px;
    -fx-background-insets: 0;
    -fx-text-box-border: black;
}

#appName {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 5em;
}

#appVersion {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 2.5em;
}

#vbox {
    -fx-background-color: linear-gradient(to bottom, #323333, #17171a);
    -fx-padding: 10;
}

#image {
    -fx-alignment: right;
}