build
dist/javadoc
/.gradle/
/bin/
/.checkstyle
.classpath
.project
.settings/
*.build
MediathekView.exe
res/Icons/Sender
/.idea/
/.nb-gradle/
/src/main/resources/version.properties
deploy.key
RepoZugang.properties
/target/
/dependency-reduced-pom.xml
*.iml
/install4j*/
/res/macOS/
