
variables:
  MAVEN_OPTS: "-Djava.awt.headless=true -Dmaven.repo.local=./.m2/repository"
  MAVEN_CLI_OPTS: "-B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"

image: maven:3.8-eclipse-temurin-18


cache:
  paths:
    - ./.m2

default:
  tags:
    - mvrunner1
  before_script:
    - apt-get update -qq
    - apt-get install -y -qq openjdk-11-jre-headless ssh lib32ncurses6 lib32z1 wget tar file gnupg2 > /dev/null
    - source /private/ENVS
    - whoami
    - mkdir ~/.ssh
    - ssh-keyscan -p 52150 mediathekview.de >> ~/.ssh/known_hosts
    - ssh-keyscan -p 52150 5.1.76.243 >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - wget -q https://download-gcdn.ej-technologies.com/install4j/install4j_unix_9_0_7.tar.gz -O install4j.tar.gz
    - tar -zxf install4j.tar.gz
    - java -version
    - ${INSTALL4J_JAVA_HOME}/bin/java -version
    - mvn -v
    - mvn clean
    - mvn install4j:install-license -Pinstall4j

stages:
  - deploy-nightly-lin
  - deploy-nightly-linarm
  - deploy-nightly-win
  # - deploy-nightly-win32
  - deploy-nightly-mac
  # - deploy-nightly-mac-as
  - deploy-lin
  - deploy-linarm
  - deploy-win
  # - deploy-win32

Build and Deploy nightly Linux:
  stage: deploy-nightly-lin
  script:
    - mvn -B package -Plinux_64bit,install4j $MAVEN_CLI_OPTS
    - echo "Baue AppImage"
    - scripte/appimage.sh nightly
    - /skripte/deploy.sh nightly linux $CI_COMMIT_SHA
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "develop"'

Build and Deploy nightly Linux ARM:
  stage: deploy-nightly-linarm
  script:
    - mvn -B package -P!linux_64bit,linux_arm_64bit,install4j $MAVEN_CLI_OPTS
    - /skripte/deploy.sh nightly linux-aarch64 $CI_COMMIT_SHA
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "develop"'

Build and Deploy nightly Windows:
  stage: deploy-nightly-win
  script:
    - mvn -B package -P!linux_64bit,windows_64bit,install4j $MAVEN_CLI_OPTS
    - /skripte/deploy.sh nightly win $CI_COMMIT_SHA
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "develop"'

# Build and Deploy nightly Windows 32bit:
#   stage: deploy-nightly-win32
#   script:
#     - mvn -B package -P!linux_64bit,windows_32bit,install4j $MAVEN_CLI_OPTS
#     - /skripte/deploy.sh nightly win32 $CI_COMMIT_SHA
#   rules:
#     - if: '$CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "develop"'

Build and Deploy nightly Mac Intel:
  stage: deploy-nightly-mac
  script:
    - mvn -B package -P!linux_64bit,mac_intel $MAVEN_CLI_OPTS
    - /skripte/deploy.sh nightly mac $CI_COMMIT_SHA
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "develop"'

# Build and Deploy nightly Mac Apple Silicon:
#   stage: deploy-nightly-mac-as
#   script:
#     - mvn -B package -P!linux_64bit,mac_apple_silicon $MAVEN_CLI_OPTS
#     - /skripte/deploy.sh nightly mac $CI_COMMIT_SHA
#   rules:
#     - if: '$CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "develop"'



Build and Deploy Linux:
  stage: deploy-lin
  script:
    - mvn -B package -Plinux_64bit,install4j $MAVEN_CLI_OPTS
    - echo "Baue AppImage"
    - scripte/appimage.sh release
    - /skripte/deploy.sh release linux
  rules:
    - if: $CI_COMMIT_TAG

Build and Deploy Linux ARM:
  stage: deploy-linarm
  script:
    - mvn -B package -P!linux_64bit,linux_arm_64bit,install4j $MAVEN_CLI_OPTS
    - /skripte/deploy.sh release linux-aarch64
  rules:
    - if: $CI_COMMIT_TAG

Build and Deploy Windows:
  stage: deploy-win
  script:
    - mvn -B package -P!linux_64bit,windows_64bit,install4j $MAVEN_CLI_OPTS
    - /skripte/deploy.sh release win
  rules:
    - if: $CI_COMMIT_TAG

# Build and Deploy Windows 32bit:
#   stage: deploy-win32
#   script:
#     - mvn -B package -P!linux_64bit,windows_32bit,install4j $MAVEN_CLI_OPTS
#     - /skripte/deploy.sh release win32
#   rules:
#     - if: $CI_COMMIT_TAG
