language: java
jdk:
  - openjdk14
before_install:
  - git lfs pull
install:
  - sudo apt-get update
  - sudo apt-get install lib32ncurses5 lib32z1 -y
  - wget https://download-gcdn.ej-technologies.com/install4j/install4j_unix_8_0_7.tar.gz
  - tar zxvf install4j_unix_8_0_7.tar.gz
  - mvn clean
  - mvn install4j:install-license -Pinstall4j
notifications:
  webhooks:
    urls:
      - https://scalar.vector.im/api/neb/services/hooks/dHJhdmlzLWNpLyU0MGFsZXglM0FtYXRyaXguZWxhb24uZGUvJTIxdWpSeXlUSGxQcXlRb2prcG1vJTNBbWF0cml4LmVsYW9uLmRl
    on_success: change
    on_failure: always
    on_start: never
addons:
  ssh_known_hosts:
    - mediathekview.de
  sonarcloud:
    organization: "mediathekview"
    token:
      secure: zkqIw8GllXBi2ViTzbpzzwXs/8z0Ucl1ioZRndgFucwSvxM+bJSVJca4SON95cHwpIpbZCegaplYnSSi4eTaNdAaFI4j7irjadps2ebAjZ5oyGUBdogvOFrdgEhrXs9CSEys14UzndVeijp2rQEdPqRWgmcdNXSDCbn7P4zqD3NHNSI78mhal1Iu/KInbJZk7DJN7tTZxhk/qQDB5PH8LRuJYulnkZXLPS50KZlPr+Yv533xQooOWOTiIhkKqFoZNiIRV0fxTm8czRe3KV0XFKcfpEtsIyr4HI2qKh5M9uXCYOvN3vmrdd0SvS6vxhEdmv08Y78MrvFq/8tlEVFBVT1ThHsWHkEEHqbJ3Q8Ij+y3zBWlqZ61b1y0ojBM6LU1WnRZs/hXo5TnUYIRgx+dkJZGesXlf7/IGqTC08ZFiEVGf6zecdJMws7FH/VIEpuaqVb9CQrqjt1xhONX2jGAISDPAjyHYiTd9r7KMtrdG0st5P3RsvnBDB8vZQXIh55I+qDiS5C4omaNnMDJJe7hh+ej0zxUTOVGiLe/Dvj2+Qu2KEqp50z5Va+32Lycu3ooV5S7mSOl9vYVlPxtQERaGMuOK1I4G93G3Nm6xhZehdEWgCfV5EtzZC9lCh02GuXISt+QOTissiciX+w7U83NJrpSQfJ+5xpVb9BBdXs5mTw=
stages:
  - Test
  - name: Build and Deploy Snapshots
    if: branch = develop AND type = cron
  - name: Build and Deploy Linux
    if: tag IS present
  - name: Build and Deploy Linux ARM
    if: tag IS present
  - name: Build and Deploy Windows
    if: tag IS present
jobs:
  include:
    - stage: Test
      script:
        - ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=mediathekview_MediathekView
      cache:
        directories:
          - .autoconf
          - $HOME/.m2
    - stage: Build and Deploy Snapshots
      cleanup: true
      script:
        - openssl aes-256-cbc -K $encrypted_e4ced02e3beb_key -iv $encrypted_e4ced02e3beb_iv -in scripte/deploy/deploy.key.enc -out scripte/deploy/deploy.key -d
        - ./mvnw clean install -Plinux,install4j
        - echo "Baue AppImage"
        - scripte/appimage.sh
        - scripte/deploy/deploy.sh nightly linux $TRAVIS_COMMIT
        - ./mvnw clean install -Parm,!64bit,32bit,install4j,!linux
        - scripte/deploy/deploy.sh nightly linux-armhf $TRAVIS_COMMIT
        - ./mvnw clean install -Pwindows,install4j,!linux
        - scripte/deploy/deploy.sh nightly win $TRAVIS_COMMIT
        - ./mvnw clean install -Pwindows32,!64bit,32bit,install4j,!linux
        - scripte/deploy/deploy.sh nightly win32 $TRAVIS_COMMIT
        - ./mvnw clean install -Pmac,!linux
        - scripte/deploy/deploy.sh nightly mac $TRAVIS_COMMIT
      cache:
        directories:
          - .autoconf
          - $HOME/.m2
    - stage: Build and Deploy Linux
      script:
        - ./mvnw clean install -Plinux,install4j
        - echo "Baue AppImage"
        - scripte/appimage.sh
      before_deploy:
        - openssl aes-256-cbc -K $encrypted_e4ced02e3beb_key -iv $encrypted_e4ced02e3beb_iv -in scripte/deploy/deploy.key.enc -out scripte/deploy/deploy.key -d
      deploy:
        - provider: script
          edge: true
          script: scripte/deploy/deploy.sh release linux
          cleanup: true
          on:
            tags: true
    - stage: Build and Deploy Linux ARM
      script:
        - ./mvnw clean install -Parm,!64bit,32bit,install4j,!linux
      before_deploy:
        - openssl aes-256-cbc -K $encrypted_e4ced02e3beb_key -iv $encrypted_e4ced02e3beb_iv -in scripte/deploy/deploy.key.enc -out scripte/deploy/deploy.key -d
      deploy:
        - provider: script
          edge: true
          script: scripte/deploy/deploy.sh release linux-armhf
          cleanup: true
          on:
            tags: true
    - stage: Build and Deploy Windows
      script:
        - ./mvnw clean install -Pwindows,!linux,install4j
      before_deploy:
        - openssl aes-256-cbc -K $encrypted_e4ced02e3beb_key -iv $encrypted_e4ced02e3beb_iv -in scripte/deploy/deploy.key.enc -out scripte/deploy/deploy.key -d
      deploy:
        - provider: script
          edge: true
          script: scripte/deploy/deploy.sh release win
          cleanup: true
          on:
            tags: true
    - stage: Build and Deploy Windows 32bit
      script:
        - ./mvnw clean install -Pwindows32,!64bit,32bit,!linux,install4j
      before_deploy:
        - openssl aes-256-cbc -K $encrypted_e4ced02e3beb_key -iv $encrypted_e4ced02e3beb_iv -in scripte/deploy/deploy.key.enc -out scripte/deploy/deploy.key -d
      deploy:
        - provider: script
          script: scripte/deploy/deploy.sh release win32
          skip_cleanup: true
          on:
            tags: true
