/*
 * Programmweites style sheet
 */

.mainFxmlClass {
}

.context-menu{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-border: 0;
}

.menu-item .label{
    -fx-background-color: #c3c4c4,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5;
    -fx-border: 10;
}

.button.btnFunction{
    -fx-background-color: #c3c4c4,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5;
    -fx-border: 10;
}

.button.btnFunction:hover{
    -fx-background-color: #f3f4f4,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}

.button.btnFunction:pressed{
    -fx-background-color: #636464,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 40%, white 90%),
        radial-gradient(center 80% -70%, radius 200%, #e6e6e6 35%, rgba(230,230,230,0) 40%);
}

