#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=MediathekView
Exec=/bin/sh "/app/MediathekView" %U
Icon=/app/.install4j/MediathekView.png
Categories=Network;FileTransfer

