/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.chart-series-line {    
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.default-color0.chart-series-line { 
    -fx-stroke: #d40000; 
    -fx-stroke-width: 2px;
}